:root {
  /* Sizes */
  --padding-size: 8px;

  /* Colors */
  --text-violet: #A63EF8;
  --text-grey: #B3B3C1;
  --bg-grey: #E3E4EE;
  --bg-dark-violet: #414265
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.second-step {
  display: flex;
  flex-direction: column;
  background-image: url(https://cdn.jsdelivr.net/gh/genexys/edLock@master/img/bg-second-stepsvg.svg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 76px;
}

.edlock-slider {
  max-width: 375px;
  width: 100%;
  /* height: 636px; */
  margin-top: 20px;
  margin-inline: auto;
  margin-bottom: 100px;
  padding-top: calc(var(--padding-size) * 4);
  /* padding-inline: calc(var(--padding-size) * 2); */
  padding-bottom: 34px;
  border-radius: calc(var(--padding-size) * 4);
  background: #F6F8FB;
  overflow: hidden;
}

.edlock-slider__content {
  display: flex;
  height: 100%;
  width: 1125px;
  transition: transform 0.5s ease;
}

.edlock-slider__title {
  /* max-width: 260px; */
  max-width: 295px;
  width: 100%;
  margin-inline: auto;
  padding: calc(var(--padding-size) * 2 - var(--padding-size) / 2);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: var(--text-violet);
}

.edlock-slider__title--first {
  max-width: 295px;
}

.first-step,
.second-step,
.final-step {
  flex: 1;
  width: 100%;
}

.first-step {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: calc(var(--padding-size) * 2);
}

.first-step .select-button--width {
  margin-top: 50px;
}

.app-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 120px));
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.app-item {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  gap: 9px;
  padding-block: 15px;
  padding-inline: 12px;
  border-radius: 14.247px;
  box-shadow: 28.494px 4.749px 47.49px 0px rgba(154, 173, 220, 0.38);
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  cursor: pointer;
}

.app-item--active {
  background-color: rgba(166, 62, 248, 0.10);
}

.app-item__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.app-item:hover {
  background-color: rgba(166, 62, 248, 0.10);
}

.app-item img {
  width: 60px;
  height: 60px;
}

.app-item span {
  font-size: 14px;
  color: #333;
}

.select-button {
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
  margin-inline: auto;
  padding: calc(var(--padding-size) + 6px) calc(var(--padding-size) * 4);
  border: none;
  border-radius: 58px;
  background-color: var(--bg-dark-violet);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  color: #fff !important;
  transition: background-color 0.3s;
  cursor: pointer;
}

.select-button--finish {
  margin-bottom: 10px;
}

.select-button--transparent {
  background-color: transparent;
  color: var(--bg-dark-violet) !important;
}

.select-button--width {
  width: 230px;
}

.select-button .select-button:hover {
  background-color: var(--text-violet);
}

.select-button[disabled] {
  background-color: var(--bg-grey);
  color: var(--text-grey) !important;
  cursor: not-allowed;
}

.select-button:not([disabled]):hover {
  background-color: #732d91;
}

.select-button--transparent.select-button:not([disabled]):hover path {
  fill: #fff !important;
}

.select-button--transparent.select-button:not([disabled]):hover {
  color: #fff !important;
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  color: var(--bg-dark-violet) !important;
  transition: color 0.3s;
  cursor: pointer;
}

.second-step__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 61px;
  padding: calc(var(--padding-size) * 2);
}

.word-knowledge {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-inline: 12px;
  padding-bottom: 24px;
  margin-bottom: 40px;
}

.word-knowledge__count-number {
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -4px;
  color: var(--bg-dark-violet);
}

.word-knowledge__count-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: var(--text-grey);
}

.level-knowledge {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-block: 24px;
  padding-inline: 12px;
}

.level-knowledge__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 233px;
  gap: 4px;
  text-align: left;
}

.level-knowledge__title {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--bg-dark-violet);
}

.level-knowledge__description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--text-grey);
}

.level-knowledge__level {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 64px;
  text-align: center;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -4px;
  color: var(--bg-dark-violet);
}

.how-hours {
  display: flex;
  align-items: center;
  padding-inline: 12px;
}

.how-hours__text {
  display: flex;
  flex-direction: column;
}

.how-hours__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: var(--bg-dark-violet);
}

.how-hours__slider-text i {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: var(--text-grey);
}

.final-step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-step__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.final-step__img-wrapper {
  position: relative;
  margin-top: 35px;
  margin-bottom: 40px;
}

.final-step__img-gradient {
  position: absolute;
  top: 240px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 531px;
  height: 476px;
  transform: translateX(-50%);
  flex-shrink: 0;
}

.final-step__img-gradient svg {
  fill: #fff;
  filter: blur(35px);
}

/* Slider */

.custom-slider {
  position: relative;
  height: 48px;
}

.slider-track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 12px;
  background-color: #F1F1F1;
  border-radius: 10px;
}

.slider-progress {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 12px;
  background: linear-gradient(270deg, #A63EF8 0%, #DB9AFF 53.03%);
  border-radius: 10px;
}

.slider-thumb {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.slider-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.slider-value {
  margin-top: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.slider-start-value {
  position: absolute;
  left: 0px;
  top: 42px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: var(--text-grey);
  letter-spacing: -0.1rem;
}

.slider-end-value {
  position: absolute;
  top: 41px;
  right: 2px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.1rem;
  color: var(--text-grey);
}

@media screen and (max-width: 768px) {
  .app-grid {
    grid-template-columns: repeat(2, minmax(110px, 110px));
  }

  .app-item {
    width: 110px;
    height: 110px;
    padding-inline: 6px;
  }

  .app-item img {
    width: 50px;
    height: 50px;
  }

  .app-item span {
    font-size: 13px;
  }

  .second-step__content {
    margin-bottom: 55px;
  }

  .second-step .select-button {
    margin-top: 0;
  }
}